.header {
  grid-area: header;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1%;
  background: aquamarine;
}
.avatar {}
.userName {
  margin-left: 20px;
}
.buttons {
  margin-left: auto;
}